
html {
    background: #fff;
}

h1, h2, h3, h4, p {
    margin: 0;
}

.wrapper {
    max-width: 968px;
    margin: 0 auto;
}

header {
    background: #333;
    color: #eee;
    padding: 20px;
}

main section {
    padding: 20px;
}

main .w50 {
    width: 50%;
}

main .left {
    float: left;
}

main .right {
    float: right;
}

main h2 {
    padding: 0 0 15px 0;
}

.unit {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.unit div {
    padding: 10px;
}

.unit label {
    color: #333;
    background: #fff;
    padding: 5px 0 5px 10px;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.unit input[type=text] {
    border: 1px solid #ccc;
    padding: 5px;
    margin: 5px 0 5px 5px;
    color: #333;
}

.unit table {
    width: 100%;
    border-collapse: collapse;
}

.unit th {
    font-weight: bold;
}

.unit th, .unit td {
    text-align: left;
    padding: 10px 0;
    font-size: 14px;
}

.unit tr {
    border-bottom: 1px solid #ccc;
}

.unit td button {
    background: #fff;
    border: 1px solid #999;
}

.unit-header {
    background: #eee;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

footer {
    clear: both;
    text-align: center;
    padding: 20px 0;
}
