
h1, h2, h3, h4 {
    margin: 0;
}

.wrapper {
    max-width: 968px;
    margin: 0 auto;
}

header {
    background: #333;
    color: #eee;
    padding: 20px;
}

main section {
    background: blue;
    padding: 20px;
}

main .w50 {
    width: 50%;
}

main .left {
    float: left;
}

main .right {
    float: right;
}

footer {
    clear: both;
    text-align: center;
    padding: 20px 0;
}
